<section id="resposta">
  <div class="container">

    <div class='row row-resposta'>

<h3>Originalidade e Inovação</h3>

<ul>
  <li>Sistema de acompanhamento de eventos (conquistas / realizações) que acontecem com a Escola, relacionados ao ENEM;</li>
  <li>Aplicação de uma metáfora de timeline para visualização de dados;</li>
  <li>Nosso público-alvo não tem capacidade e interesse em utilizar ferramentas complexas de manipulação de dados, as quais já existem;</li>
  <li>NossoExame é original, pois representa os dados de maneira divertida e próxima da realidade que o adolescente está acostumado.</li>
</ul>


<h3>Impacto</h3>

<ul>
  <li>A timeline é uma ferramenta que estimula a participação e reação pró-ativa e comunicativa de:
    <ul>
      <li>Alunos;</li>
      <li>Professores;</li>
      <li>Pais;</li>
      <li>Governo.</li>
    </ul>
  </li>
  <li>Os eventos (conquistas / desafios) deixam claro quais são as qualidades e deficiências de uma escola.</li>
</ul>

<h4>O repositório de questões provoca:</h4>
<ul>
<li>reflexão crítica em relação às questões do ENEM e, principalmente, aos temas relacionados à questão;</li>
<li>busca do estudante a novas formas de aprendizagem, como videos e verbetes relacionados com curadoria automática ou semi-automática.</li>
</ul>


<h3>Sistema adequado ao INEP</h3>

<ul>
  <li>Implementamos uma experiência real de visualização de dados que usou os dados:
    <ul>
      <li>Base de alunos que prestaram o ENEM (CSV) => Base PostgreSQL;</li>
      <li>Cadastro das instituições de ensino básico (CSV) => Base PostgreSQL;</li>
      <li>Provas e gabaritos do ENEM (PDF) => Web Service;</li>
     </ul>
  </li>
  <li>Sistema REAL, FUNCIONAL e disponível livremente no Github e Web.</li>
  <li>Equipe apta a desenvolver.</li>
</ul>


<h4>Equipe</h4>

<ul>
  <li>Alessandro Diogo - JobScore</li>
  <li>Bruno Campagnolo - Professor da PUC</li>
  <li>Cicero Macedo - Aluno do ITA</li>
  <li>Evandro Dutra - JobScore</li>
</ul>

</div>
</div>
</section>
